.write {
    padding-top: 50px;
}

.write-img {
    margin-left: 150px;
    width: 70vw;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}

.write-form {
    position: relative;
}

.write-form-group {
    margin-left: 150px;
    display: flex;
    align-items: center;
}

.write-form-img {
    margin-left: 150px;
    display: flex;
    align-items: center;
}

.write-icon {
    width: 70px;
    height: 70px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    cursor: pointer;
    margin-left: 20px;
    margin-bottom: 10px;
    transition: 0.2s;
    border: 2px solid;
    border-radius: 50%;
}

.write-icon:hover {
    color: #000000;
}


.text-icon {
    font-size: 25px;
    font-style: normal;
    font-family: 'Josefin Sans', sans-serif;
    color: gray;
}

.write-input {
    font-size: 30px;
    padding: 20px;
    width: 70vw;
    margin: 20px;
    border: 2px solid gray;
    border-radius: 10px;
}

.write-input:focus {
    outline: none;
}

.write-text {
    font-size: 20px;
    height: 10vh;
}

.write-submit {
    position: absolute;
    font-size: 20px;
    margin-left: 170px;
    color: white;
    cursor: pointer;
    background-color: gray;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-family: 'Josefin Sans', sans-serif;
    transition: 0.2s;
}

.write-submit:hover {
  background-color: #333;
}

