.header {
    margin-top: 0px;
}

.header-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(120, 120, 120);
}

.header-title-lg {
    position: absolute;
    top: 25%;
    font-size: 150px;
    font-family: 'Sassy Frass', cursive;
}

.header-img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}